*~
config.yml
config_10*.yml
config_annual.yml
run_da_*.sh
output_logfile*.txt
output_logfile*.out
notes.txt
da_explore_variance.py
other_models.py
other_stuff/*
more/*
development/*
process_output/*
__pycache__/*
extra_config/*
compare_methods/*
saved_config/*
